body {
    background-image: url(../images/sandstone.jpg);
    margin: 0 auto;
}

header {
    margin: 0 auto;
    color: black;
    /* width: 100px; */
    /* display: inline-block; */
    text-align: center;
}
main {
    margin: 0 auto;
    background-color: blue;
    border-radius: 20px;
    width: 1000px;
    height: 1000px;
}