body {
    background-image: url(../images/sandstone.jpg);
    margin: 0 auto;
}

header {
    margin: 0 auto;
    color: black;
    /* width: 100px; */
    /* display: inline-block; */
    text-align: center;
}
main {
    margin: 0 auto;
    background-color: blue;
    border-radius: 20px;
    width: 1000px;
    height: 1000px;
    border: 3px solid black;
}
ul {
    margin: 0 auto;
}
li {
    list-style: none;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 30px;
    background-color: red;
    border-radius: 20px;
    width: 97%;
    position: relative;
    left: -39px;
    border: 3px solid black;
    display: inline-block;
    text-align: center;
}
li p {
    float: left;
}
li button {
    float: right;
    vertical-align: center;
}
ul:first-child {
    visibility: hidden;
}
#newitem {
    width: 500px;
}
#first {
    border-bottom: 3px solid black;
    width: 940px;
    position: relative;
    left: -40px;
}
div {
    background-color: green;
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
    margin-bottom: 10px;
    border: 3px solid black;
}